.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opacity-0 {
    opacity: 0;
}

.text-ellipsis-single {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-click {
    pointer-events: none;
}

.cursor-default {
    cursor: default;
}